root { 
    display: block;
}

th{
    background-color: #ADD8E6;
}

input{
    color:#ffffff;
    background-color: #ADD8E6;
    border: 1px solid #00008B;
    font: 0.9em Arial, Helvetica, sans-serif;
    padding: 0.2em;

}

body {

    font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;    
    color: #000000;
    background-image:url(images/bg_body.jpg);
    background-repeat: no-repeat;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}
form {
    border: 1px dotted #AAAAAA;
    padding: 0.5em;
}

select {
    width: 100px;
    color: #00008B;
    background-color: #ADD8E6;
    border: 1px solid #00008B;
}
textarea {
    width: 200px;
    height: 40px;
    color: #00008B;
    background-color: #ADD8E6;
    border: 1px solid #00008B;
}

form input:focus,form textarea:focus,form select:focus {
    border: #2e7db2 solid 2px;
}

.error {
    color: #ff0000;
    font-weight: bold;
}
.errorblock{
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding:8px;
    margin:16px;
}

img {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}